{literal}
	<div class="input-group mb-3">
		{input _filter="content" type="text" class="form-control" placeholder="Any text..." id="q"}
		<div class="input-group-append">
			{input type="Submit" value="Search" class="btn btn-outline-secondary"}
		</div>
	</div>
{/literal}
